In [2]:
import pandas as pd

data= pd.read_csv("new_sql/schools_progress.csv")

data.head()

,School_ID,NAME_OF_SCHOOL,Elementary_Middle_or_High_School,Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate_percentage,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [7]:
data['DATE']

0      08/28/2004 05:50:56 PM
1      06/26/2004 12:40:00 PM
2      04/04/2011 05:45:00 AM
3      12/30/2010 04:30:00 PM
4      02/02/2016 07:30:00 PM
                ...
528    03/01/2016 12:00:00 AM
529    01/29/2016 03:30:00 PM
530    11/08/2003 04:54:15 PM
531    02/06/2017 01:20:00 PM
532    01/11/2001 02:30:41 AM
Name: DATE, Length: 533, dtype: object

In [8]:
pd.to_datetime(data['DATE'])

0     2004-08-28 17:50:56
1     2004-06-26 12:40:00
2     2011-04-04 05:45:00
3     2010-12-30 16:30:00
4     2016-02-02 19:30:00
              ...
528   2016-03-01 00:00:00
529   2016-01-29 15:30:00
530   2003-11-08 16:54:15
531   2017-02-06 13:20:00
532   2001-01-11 02:30:41
Name: DATE, Length: 533, dtype: datetime64[ns]

In [9]:
data['DATE'].replace(pd.to_datetime(data['DATE']))

0      08/28/2004 05:50:56 PM
1      06/26/2004 12:40:00 PM
2      04/04/2011 05:45:00 AM
3      12/30/2010 04:30:00 PM
4      02/02/2016 07:30:00 PM
                ...
528    03/01/2016 12:00:00 AM
529    01/29/2016 03:30:00 PM
530    11/08/2003 04:54:15 PM
531    02/06/2017 01:20:00 PM
532    01/11/2001 02:30:41 AM
Name: DATE, Length: 533, dtype: object

In [10]:
data.to_csv('new-data.csv')

In [15]:
data['UPDATEDON'].replace([data['UPDATEDON'], pd.to_datetime(data['UPDATEDON'])])

0      02/10/2018 03:50:01 PM
1      02/10/2018 03:50:01 PM
2      02/10/2018 03:50:01 PM
3      02/10/2018 03:50:01 PM
4      02/10/2018 03:50:01 PM
                ...
528    02/10/2018 03:50:01 PM
529    02/10/2018 03:50:01 PM
530    02/10/2018 03:50:01 PM
531    02/10/2018 03:50:01 PM
532    02/10/2018 03:50:01 PM
Name: UPDATEDON, Length: 533, dtype: object

In [12]:
pd.to_datetime(data['UPDATEDON'])

0     2018-02-10 15:50:01
1     2018-02-28 15:56:25
2     2018-02-10 15:50:01
3     2018-02-10 15:50:01
4     2018-02-10 15:50:01
              ...
528   2018-02-10 15:50:01
529   2018-02-10 15:50:01
530   2018-02-28 15:56:25
531   2017-02-14 15:49:42
532   2015-08-17 15:03:40
Name: UPDATEDON, Length: 533, dtype: datetime64[ns]

In [19]:
original_data = list(data['UPDATEDON'])

In [23]:
replace_data = list(pd.to_datetime(data['UPDATEDON']))

In [35]:
new_data = {}

for i in range(len(original_data)):
    new_data[original_data[i]]=replace_data[i]

In [36]:
new_data

{'02/10/2018 03:50:01 PM': Timestamp('2018-02-10 15:50:01'),
 '02/28/2018 03:56:25 PM': Timestamp('2018-02-28 15:56:25'),
 '02/04/2016 06:33:39 AM': Timestamp('2016-02-04 06:33:39'),
 '05/04/2018 03:51:04 PM': Timestamp('2018-05-04 15:51:04'),
 '08/17/2015 03:03:40 PM': Timestamp('2015-08-17 15:03:40'),
 '12/26/2016 03:47:26 PM': Timestamp('2016-12-26 15:47:26'),
 '02/14/2017 03:49:42 PM': Timestamp('2017-02-14 15:49:42'),
 '11/22/2016 03:51:04 PM': Timestamp('2016-11-22 15:51:04'),
 '08/05/2016 03:48:24 PM': Timestamp('2016-08-05 15:48:24'),
 '07/30/2017 03:51:44 PM': Timestamp('2017-07-30 15:51:44')}

In [37]:
data['UPDATEDON'].replace(new_data, inplace=True)

In [38]:
data['UPDATEDON']

0     2018-02-10 15:50:01
1     2018-02-10 15:50:01
2     2018-02-10 15:50:01
3     2018-02-10 15:50:01
4     2018-02-10 15:50:01
              ...
528   2018-02-10 15:50:01
529   2018-02-10 15:50:01
530   2018-02-10 15:50:01
531   2018-02-10 15:50:01
532   2018-02-10 15:50:01
Name: UPDATEDON, Length: 533, dtype: datetime64[ns]

In [39]:
original_date = list(data['DATE'])

In [40]:
replace_date = list(pd.to_datetime(data['DATE']))

In [41]:
new_date = {}

for i in range(len(original_date)):
    new_date[original_date[i]]=replace_date[i]

In [42]:
data['DATE'].replace(new_date, inplace=True)

In [43]:
data['DATE']

0     2004-08-28 17:50:56
1     2004-06-26 12:40:00
2     2011-04-04 05:45:00
3     2010-12-30 16:30:00
4     2016-02-02 19:30:00
              ...
528   2016-03-01 00:00:00
529   2016-01-29 15:30:00
530   2003-11-08 16:54:15
531   2017-02-06 13:20:00
532   2001-01-11 02:30:41
Name: DATE, Length: 533, dtype: datetime64[ns]

In [44]:
data.to_csv('new-data.csv')

In [54]:
id = list(data['ID'])

In [55]:
new_id = {}

for i in range(len(id)):
    new_id[id[i]]=id[i]-1

In [56]:
data['ID'].replace(new_id, inplace=True)

In [57]:
data.to_csv('new-data.csv')

In [58]:
data['ID']

0       3512276
1       3406613
2       8002131
3       7903289
4      10402076
         ...
528    10453948
529    10397129
530     3269495
531    10840565
532     1326195
Name: ID, Length: 533, dtype: int64

In [3]:
data['College_Enrollment_Rate_Percentage'].replace(['NDA', 0], inplace=True)

In [4]:
data.to_csv('new_sql/schools_progress.csv')