<h4>Question 1:</h4> Create a dataframe that contains the GDP data and display the first five rows of the dataframe.

In [9]:
import pandas as pd

# I take this set from discussion forum
filename='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv'

dataset = pd.read_csv(filename)

In [11]:
dataset.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

<h4>Question 2:</h4> Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe.

In [12]:
unemployment_filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv"

unemployment_dataset = pd.read_csv(unemployment_filename)

unemployment_dataset.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

<h4>Question 3:</h4> Display a dataframe where unemployment was greater than 8.5%.

In [13]:
unemployment_dataset[unemployment_dataset['unemployment']> 8.5]

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

<h3>Question 4:</h3> Use the function make_dashboard to make a dashboard
In this section, you will call the function make_dashboard , to produce a dashboard. We will use the convention of giving each variable the same name as the function parameter.

Create a new dataframe with the column 'date' called x from the dataframe that contains the GDP data.

In [23]:
gdp_date = dataset['date']
gdp_date

0     1948
1     1949
2     1950
3     1951
4     1952
      ...
64    2012
65    2013
66    2014
67    2015
68    2016
Name: date, Length: 69, dtype: int64

In [21]:
gdp_change = dataset['change-current']
gdp_change

0     -0.7
1     10.0
2     15.7
3      5.9
4      6.0
      ...
64     3.6
65     4.4
66     4.0
67     2.7
68     4.2
Name: change-current, Length: 69, dtype: float64

In [15]:
gdp_unemploy = unemployment_dataset['unemployment']
gdp_unemploy

0     3.750000
1     6.050000
2     5.208333
3     3.283333
4     3.025000
        ...
64    8.075000
65    7.358333
66    6.158333
67    5.275000
68    4.875000
Name: unemployment, Length: 69, dtype: float64

Give dashboard String Title

In [16]:
title = 'GDP and Unemployment'

make output .html, using index.html will be good one

In [17]:
file_name = 'index.html'

In [18]:
from bokeh.plotting import figure, output_file, show

In [22]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [26]:
make_dashboard(x=gdp_date, gdp_change=gdp_change, unemployment= gdp_unemploy, title=title, file_name=file_name)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

<h4>Question 5:</h4> Save the dashboard on IBM cloud and display it
<br>
credentials = {

   "apikey": "your-api-key",

   "cos_hmac_keys": {

    "access_key_id": "your-access-key-here", 

     "secret_access_key": "your-secret-access-key-here"

   },


    "endpoints": "your-endpoints",

   "iam_apikey_description": "your-iam_apikey_description",

   "iam_apikey_name": "your-iam_apikey_name",

   "iam_role_crn": "your-iam_apikey_name",

    "iam_serviceid_crn": "your-iam_serviceid_crn",

  "resource_instance_id": "your-resource_instance_id"

}

In [34]:
#it's Credential

Access IBM Cloud Object Storage with Python useing the boto3 library

In [30]:
import boto3

You will need the endpoint

In [43]:
endpoint='https://s3.us.cloud-object-storage.appdomain.cloud'

Bucket name

In [44]:
bucket_name='courseralasttest-donotdelete-pr-wf2td8lmuikgt0'

We can interact with IBM Cloud Object Storage through a boto3 resource object.

In [45]:
resource = boto3.resource(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url = endpoint,
)

create html path

In [46]:
import os

directory = os.getcwd()
html_path = directory + "/" + file_name

open html path

In [47]:
f = open(html_path,'r')

load data set into buket

In [48]:
resource.Bucket(name=bucket_name).put_object(Key=file_name, Body=f.read())

s3.Object(bucket_name='courseralasttest-donotdelete-pr-wf2td8lmuikgt0', key='index.html')

In the dictionary Params provide the bucket name as the value for the key 'Bucket'. Also for the value of the key 'Key' add the name of the html file, both values should be strings.

In [49]:
Params = {'Bucket':bucket_name ,'Key':file_name }

The following lines of code will generate a URL to share your dashboard. The URL only last seven days.

In [50]:
import sys
time = 7*24*60**2
client = boto3.client(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url=endpoint,

)
url = client.generate_presigned_url('get_object',Params=Params,ExpiresIn=time)
print(url)

https://s3.us.cloud-object-storage.appdomain.cloud/courseralasttest-donotdelete-pr-wf2td8lmuikgt0/index.html?AWSAccessKeyId=7d236f73eb7f46bfb3772b16c760e6c7&Signature=uSxp8P9Oh4IIWSXj41HIC6RTFwM%3D&Expires=1574656973